

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700;800&display=swap');
/* ------------------------------------------------------------------------------
	 Typography
-------------------------------------------------------------------------------*/
::selection {
  Background-Color: #3DF2AD; }
.section {


}
p {
	font-size: 13px;
	line-height: 19px;
	color: #000;
}
h1 {
	font-size: 65px;
	color: #000;
}
h2 {
	font-size: 40px;
	font-weight: 700;
	margin: 0 auto;
	color: #000;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
	margin: 0 auto;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}

.Botonsito-contacto {

 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

.Botonsito-contacto {
 width: 15rem;
 height: auto;
}

.Botonsito-contacto .Circulito {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3.5rem;
 height: 3.5rem;
 background: #282936;
 border-radius: 2rem;
}

.Botonsito-contacto .Circulito .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
 vertical-align: middle;
}

.Botonsito-contacto .Circulito .icon.arrow {
    
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.9rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;

}

.Botonsito-contacto .Circulito .icon.arrow::before {
    
 position: absolute;
 content: "";
 top: -0.39rem;
 right: 0.0625rem;
 width: 0.85rem;
 height: 0.85rem;
 border-top: 0.225rem solid #fff;
 border-right: 0.225rem solid #fff;
 transform: rotate(45deg);
}

.Botonsito-contacto .Texto-er-boton a {
    
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.6rem 0 0 0.7rem;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 600;
 line-height: 1.6;
 font-size: 15px;
 text-align: center;

}

Botonsito:hover .Circulito {
    
 width: 100%;
}

Botonsito:hover .Circulito .icon.arrow {
    
 background: #fff;
 transform: translate(1rem, 0);
}

Botonsito:hover .Texto-er-boton a {
    
 color: #fff;
}


}
/* ------------------------------------------------------------------------------
	 General Style
-------------------------------------------------------------------------------*/
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	color: #000;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 70px 0px 15px 0px;

}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
/* ==========================================================================
	$Header
========================================================================== */
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
}

#header .header-content {
	margin: 0 auto;
	max-width: 1140px;
	padding: 40px 0;
	width: 100%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#header .logo {
	float: left;
	max-width: 165px;
}
#header.fixed {
	background-color: rgba(255, 255, 255, 0.75);
}
#header.fixed .header-content {
	border-bottom: 0;
	padding: 25px 0;
}
#header.fixed .nav-toggle {
	top: 18px;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: #808080;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-left: 40px;
}
.navigation a:hover, .navigation a.active {
	color: #262626;
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #e84545;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #e84545;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
/* ==========================================================================
	$Banner
========================================================================== */

}
.banner-inner-wrapper {
	size:  cover;

}
.banner-text {
	padding-top: 15%;
	margin: 0 auto;


}
.banner-text h1 {
	font-family: 'Epilogue', sans-serif;
	font-size: 85px;
	font-weight: 600;
}
.banner-text p {
	color: #393939;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 1%;
	font-family: 'Epilogue', sans-serif;
	padding: 20px 0px;
}

/* ==========================================================================
	$Sobre mi
========================================================================== */

img.yo { 

	border-radius: 100%;
	max-width: 200px;
}

.yo-content {
	padding-top:  20px;
}

/* ==========================================================================
	$Lo que nos encata hacer
========================================================================== */

.intro-content {
	margin-top: 20px;
}
.intro-content h1 {
	font-size: 40px;
	font-weight: 700;
	margin: 0 auto;
}
.intro-content h4 {
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 700;
}
.intro-content p {
	font-size: 13px;
	line-height: 19px;
}
.intro-content li {
	line-height: 30px;
	letter-spacing: 1px;
}


/* ==========================================================================
	$Educación y experiencia
========================================================================== */

.exp-educ {
	margin-top: 20px;

}


.exp-educ p {
	font-size: 10px;
	line-height: 19px;
}

p.Tit-educ-exp {
	Font-size: 17px;
	font-weight: 600;
}

p.Tit-educ-exp2 {
	Font-size: 14px;
	font-weight: 500;
}

.Experiencia-educacion {
	Padding: 40px 0px;
}



/* ==========================================================================
	$Software
========================================================================== */

.Software {
	Padding: 10px 0px;

}

img.software { 
	max-width: 30vw;
}


/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
	margin: 0 auto;
	text-align: left;
	padding-top: 5%;
	padding-bottom: 7%;
}
.footer h4 {
	font-size: 14px;
	color: #000;
	letter-spacing: 2px;
	margin: 0 0 15px 0;
	padding: 0px;
}
.footer p {
	font-size: 12px;
	color: #6c7279;
}
.footer a {
	color: #000;
}
.footer a:hover {
	text-decoration: underline;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 14px;
	color: #000;
	letter-spacing: 15px;
}
.footer .fa-heart {
	color: #e84545;
	font-size: 12px;
	margin: 0 2px;
}







/* ==========================================================================
	$Efectos CSS
========================================================================== */

/* H1 */

.banner-text h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.banner-text h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.banner-text h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 10px; right: 0; bottom: 60px; left: 0;
  inset: 0 0 0 0;
  background: #3DF2AD;
  z-index: -1;
  transition: transform .3s ease;
}

.banner-text h1 {
  position: relative;
}



/* H2 */

h2::before {  
  transform: scaleX(0);
  transform-origin: bottom left;
}

h2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


h2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 10px; right: 0; bottom: 60px; left: 0;
  inset: 0 0 0 0;
  background: #3DF2AD;
  z-index: -1;
  transition: transform .3s ease;
}

h2 {
  position: relative;
}





/* Titulos de educación y exp */

p.Tit-educ-exp::before {  
  transform: scaleX(0);
  transform-origin: bottom left;
}

p.Tit-educ-exp:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


p.Tit-educ-exp::before {
  content: " ";
  display: block;
  position: absolute;
  top: 10px; right: 0; bottom: 60px; left: 0;
  inset: 0 0 0 0;
  background: #3DF2AD;
  z-index: -1;
  transition: transform .3s ease;
}

p.Tit-educ-exp {
  position: relative;
}





/* Mis fuentes son */

li::before {  
  transform: scaleX(0);
  transform-origin: bottom left;
}

li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


li::before {
  content: " ";
  display: block;
  position: absolute;
  top: 10px; right: 0; bottom: 60px; left: 0;
  inset: 0 0 0 0;
  background: #3DF2AD;
  z-index: -1;
  transition: transform .3s ease;
}

li {
  position: relative;
}

