@media screen and (min-width:  1200px) {
	.col-md-8.col-sm-9 {
	width: 33.3%;
}


.banner-text h1 {
	margin-top: 4%;
	padding: 1% 0;
	}


.exp-educ p {
	font-size: 13px;
	line-height: 23px;
}
}

@media screen and (max-width: 991px) {

	img.software { 
	max-width: 70vw;
}
}

 @media screen and (max-width: 768px) {




.banner-text {
	padding-top: 30%;
}
.banner-text h1 {
	font-size: 55px;
}
.banner-text p {
	font-size: 15px;
}


.footer .footer-col {
	margin-bottom: 50px;
}
}


 @media screen and (max-width: 640px) {

 	.banner-text h1 {
	padding-bottom: 10px;
	font-size: 45px;
}

.banner-text {
	padding-top: 35%;
}
}


 @media screen and (max-width: 480px) {



.section {
	padding: 35px 0px;
}





.banner-text {
	padding-top: 40%;
	text-align: left;
}
.banner-text h1 {
	padding-bottom: 10px;
	font-size: 34px;
}
.banner-text p {
	font-size: 13px;
	padding-bottom: 18px;
}





.intro-content h1 {
	font-size: 35px;
	padding-bottom: 15px;
}
.intro-content p {
	padding-bottom: 15px;
}
}





 @media screen and (max-width: 320px) {

.section {
	padding: 20px 0px;
}




.banner {
	height: 30px!important;
}
.banner-text {
	padding-top: 50%;
	text-align: left;
}
.banner-text h1 {
	font-size: 35px !important;
}

.banner-text p {
	font-size: 13px;
}





.testimonials blockquote {
	padding: 20px 5% 0;
}
.testimonials p {
	font-size: 26px;
}





.intro-content h1 {
	font-size: 30px;
	padding-bottom: 15px;
}

.intro-content p {
	padding-bottom: 15px;
}





.yo-content p {
	padding-top: 30px;
}

}

